{% load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"> 
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>page camera</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><i class="fa fa-angle-right"></i>page camera</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">

      <div class="row" id = "video">
        

          
      </div>
                    
    </div>
    <!-- /.content --> 
</div>

